# IntelliJ
.idea/
*.iml

# Build / compilation
out/
target/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database / local files (optionnel)
*.db

# Default ignored files
/shelf/
/workspace.xml

# Ignored default folder with query files
/queries/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/